* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #a52a2a;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--body-color);
    border-radius: 20px;
    width: 90%;
    color: #FFFFFF;
}

.profile_img {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

section> :not(hr) {
    padding: 0.5rem;
}